<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tags.html</title>
</head>
<body>
    <h1>'h1 태그입니다.'</h1>
    <h2>'h2 태그입니다.'</h2>
    <h3>'h3 태그입니다.'</h3>
    <h4>'h4 태그입니다.'</h4>
    <h5>'h5 태그입니다.'</h5>
    <h6>'h6 태그입니다.'</h6>
    <!--<h7>'h7 태그입니다.'</h7>-->
    <!--<h8>'h8 태그입니다.'</h8>-->
    <!-- h 태그는 6까지 있다.-->

    <a href="http://localhost:8888/hello">여기를 누르면 hello로 갑니다.</a>
    (http://localhost:8888/hello)<br>
    <a href="https://www.naver.com" target="_blank">다른 domain에서 연결하는 경우</a>
    (https://www.naver.com) target="_blank"추가해서 새창으로 이용<br>
    <a href="/helloweb/hello">같은 domain에서 절대경로로 연결하는 경우</a>
    (/helloweb/hello)<br>
    <a href="hello">같은 domain에서 상대경로로 연결하는 경우</a>
    (hello)<br>

    <img src="/assets/images/IU2.jpg">

</body>
</html>